<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/assert/css/furama.css">
    <link rel="stylesheet" href="/assert/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h1 class="title">Thêm mới chương trình khuyến mãi</h1>
<div id="layoutSidenav_content">
    <main>
        <form th:action="@{/save}" th:method="post" th:object="${discount}" id="form_layout">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="name">Tiêu đề:</label>
                    <input type="text" th:field="*{title}" minlength="1" maxlength="50"
                           class="form-control" id="name">
                    <span class="error" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">Name Error</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="dof">Thời gian bắt đầu: </label>
                    <input type="date" th:field="*{startDate}" class="form-control" id="dof"/>
                    <span class="error" th:if="${#fields.hasErrors('startDate')}"
                          th:errors="*{startDate}">Name Error</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="dof1">Thời gian kết thúc: </label>
                    <input type="date" th:field="*{endDate}" class="form-control" id="dof1"/>
                    <span class="error" th:if="${#fields.hasErrors('endDate')}"
                          th:errors="*{endDate}">Name Error</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="idCard">Mức giảm giá:</label>
                    <input type="number" th:field="*{discounts}" class="form-control" id="idCard">
                    <span class="error" th:if="${#fields.hasErrors('discounts')}"
                          th:errors="*{discounts}">Name Error</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="address">Chi tiết</label>
                    <textarea type="text" th:field="*{details}" minlength="1" maxlength="50"
                              class="form-control" id="address"></textarea>
                    <span class="error" th:if="${#fields.hasErrors('details')}"
                          th:errors="*{details}">Name Error</span>
                </div>
            </div>
            <input type="submit" value="Thêm mới" class="btn btn-primary mt-2 mb-2">
            <a href="/" class="btn btn-warning mt-2 ml-2 mb-2">Quay lại</a>
        </form>
    </main>
</div>
<script src="assert/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>