<div class="row justify-content-between">
  <h2>Danh Sách Nhân Viên</h2>
  <div class="d-flex">
    <input class="form-control mr-3" type="text" style="width: 400px;"
           placeholder="Tìm kiếm theo tên nhân viên"[(ngModel)]="searchValue">
    <button class="btn btn-outline-success" (click)="doSearch()">Tìm Kiếm</button>
  </div>
</div>
<div class="row mt-3 px-3">
  <button class="btn btn-success" [routerLink]="['/employee-create']">Thêm Mới</button>
  <table class="table mt-3" style="font-size: 12px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ Và Tên</th>
        <th>Vị Trí</th>
        <th>Trình Độ</th>
        <th>Bộ Phận</th>
        <th>Ngày Sinh</th>
        <th>Số CMND</th>
        <th>Lương</th>
        <th>Email</th>
        <th>SĐT</th>
        <th>Địa Chỉ</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 2, currentPage: p }">
        <td>{{employee.id}}</td>
        <td>{{employee.fullName}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.academicLevel}}</td>
        <td>{{employee.part}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.identityNumber}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.address}}</td>
        <td style="width: 12%;">
          <button class="btn btn-sm btn-warning mr-2">Sửa</button>
          <button data-toggle="modal" data-target="#idModal" class="btn btn-sm btn-danger"
                  (click)="getEmployeeName(employee.id)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="idModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to delete: {{fullName}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEmp(id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
