<div class="row justify-content-between">
  <h2>Danh Sách Nhân Viên</h2>
  <div class="d-flex">
    <input class="form-control mr-3" type="text" style="width: 400px;" placeholder="Tìm kiếm theo tên nhân viên">
    <button class="btn btn-outline-success">Tìm Kiếm</button>
  </div>
</div>
<div class="row mt-3 px-3">
  <button class="btn btn-success">Thêm Mới</button>
  <table class="table mt-3" style="font-size: 12px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ Và Tên</th>
        <th>Vị Trí</th>
        <th>Trình Độ</th>
        <th>Bộ Phận</th>
        <th>Ngày Sinh</th>
        <th>Số CMND</th>
        <th>Lương</th>
        <th>Email</th>
        <th>SĐT</th>
        <th>Địa Chỉ</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1</td>
        <td>Trần Minh Khoa</td>
        <td>Nhân Viên</td>
        <td>Đại Học</td>
        <td>Kinh Doanh</td>
        <td>06/10/2000</td>
        <td>212345678</td>
        <td>10000000</td>
        <td>Khoa4755@gmail.com</td>
        <td>0357740062</td>
        <td>Thanh Bình, Hải Châu, Đà Nẵng</td>
        <td style="width: 12%;">
          <button class="btn btn-sm btn-warning">Sửa</button>
          <button class="btn btn-sm btn-danger ml-2">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
